{% extends "layout.html" %}
{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block body_classes %}
add-data
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<h1 class="heading-xlarge">
		Enter your GPG data for 2017/2018
	</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="text">
				<p class="lede">On this page you will submit your GPG data:</p>
			</div>
			<form method="get" name="registration" action="/signup" id="registration">
				<h2 class="heading-medium">A. Difference between the mean hourly rate  </h2>
				<fieldset>
					<div class="form-group ">
						<label class="form-label" for="email">
							Mean hourly rate
						</label>
						<input type="email" name="email" id="email" class="form-control" >
					</div>
				</fieldset>
			<!-- 	<details>
					<summary><span class="summary">Help with nationality</span></summary>
					<div class="panel panel-border-narrow">
						<p>
							If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
						</p>
						<p>
							We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
						</p>
					</div>
				</details> -->
				<h2 class="heading-medium">B. Difference between the median hourly rate </h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Median hourly rate
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
	
				</fieldset>

				<h2 class="heading-medium">C. Difference between the mean bonus pay  </h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Mean bonus pay
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>


				</fieldset>	
				<h2 class="heading-medium">D. Difference between the median bonus pay</h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Median bonus pay 
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
	
				</fieldset>				

				<h2 class="heading-medium">E. Proportions of male and female relevant employees paid a bonus</h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Median bonus pay paid
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
	
				</fieldset>		

				<h2 class="heading-medium">F. Proportions employees in the lower, lower middle, upper middle and upper quartile pay bands </h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Pay bands
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
	
				</fieldset>		

				<fieldset>
					<legend class="visuallyhidden">Terms</legend>
					<div class="form-group ">
						<label class="block-label" for="terms">
							<input type="checkbox" name="terms" id="terms" value="1">
							I agree to the <a href="/terms-and-conditions" target="_blank">terms and conditions</a>
						</label>
					</div>
					<div class="form-group">
						<input type="submit" name="submit" id="signin-form-submit" value="Create account" class="button">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</main>
{% endblock %}
