{% extends "layout.html" %}
{% block page_title %}
Enter GPG data
{% endblock %}
{% block body_classes %}
add-data
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<h1 class="heading-xlarge">
		2016 to 2017 GPG data 
	</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="text">
				<p class="lede">Please enter your Gender Pay Gap data for the period of 4 April 2016 to the 4 April 2017.</p>
			</div>
			<form method="get" name="registration" action="/signup" id="registration">
				<h2 class="heading-medium">1. Difference in mean hourly rate of pay  </h2>
				<fieldset>
					<div class="form-group ">
						<label class="form-label" for="email">
							Mean hourly rate
						</label>
						<input type="email" name="email" id="email" class="form-control" >
					</div>
				</fieldset>
				<details>
					<summary><span class="summary">How do I calculate this</span></summary>
					<div class="panel panel-border-narrow">
						<p>
							The difference between the mean hourly rate of pay of male  employees and that of female  employees must be expressed as a percentage of the mean hourly rate of pay of male  employees and is to be determined as follows:<br>
							<img src="{{ asset_path }}images/maths.png" width="160" alt=""> 
							<br>
							where—<br>
							A is the mean hourly rate of pay of all male full-pay relevant employees; and<br>
							B is the mean hourly rate of pay of all female full-pay relevant employees.
						</p>
					</div>
				</details>
				<h2 class="heading-medium">2. Difference in median hourly rate of pay </h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Median hourly rate
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>
				<details>
					<summary><span class="summary">How do I calculate this</span></summary>
					<div class="panel panel-border-narrow">
						<p>
							
						</p>
					</div>
				</details>
				<h2 class="heading-medium">3. Difference in mean bonus pay  </h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Mean bonus pay
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>	
				<details>
					<summary><span class="summary">How do I calculate this</span></summary>
					<div class="panel panel-border-narrow">
						<p>

						</p>
					</div>
				</details>
				<h2 class="heading-medium">4. Difference in median bonus pay</h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Median bonus pay 
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>				
				<details>
					<summary><span class="summary">How do I calculate this</span></summary>
					<div class="panel panel-border-narrow">
						<p>

						</p>
					</div>
				</details>
				<h2 class="heading-medium">5. Proportion of male and female employees who received bonus pay</h2>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Male median bonus pay paid
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
					<div class="form-group ">
						<label class="form-label" for="password">
							Female median bonus pay paid
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>		
				<details>
					<summary><span class="summary">How do I calculate this</span></summary>
					<div class="panel panel-border-narrow">
						<p>

						</p>
					</div>
				</details>
				<h2 class="heading-medium">6. Proportions employees in the lower, lower middle, upper middle and upper quartile pay bands </h2>
				<h3 class="heading-small">Lower payband</h3>
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Male
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
					<div class="form-group ">
						<label class="form-label" for="password">
							Female
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>	
				<h3 class="heading-small">Middle payband</h3>	
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Male
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
					<div class="form-group ">
						<label class="form-label" for="password">
							Female
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>	
				<h3 class="heading-small">Upper middle payband</h3>	
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Male
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
					<div class="form-group ">
						<label class="form-label" for="password">
							Female
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>		
				<h3 class="heading-small">Upper quartile payband</h3>	
				<fieldset>				
					<div class="form-group ">
						<label class="form-label" for="password">
							Male
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
					<div class="form-group ">
						<label class="form-label" for="password">
							Female
						</label>
						<input type="password" name="password" id="password" class="form-control">
					</div>
					<details>
						<summary><span class="summary">How do I calculate this</span></summary>
						<div class="panel panel-border-narrow">
							<p>

							</p>
						</div>
					</details>
				</fieldset>		
				<h2 class="heading-medium">7. Additional information (Optional)</h2>
				<fieldset>				
					<div class="form-group ">
						<input type="password" name="password" id="password" class="form-control">
					</div>
				</fieldset>

			</form>
			<p><a class="button" href="summary-preview" role="button">Continue</a></p>
			<a href="gpg-overview">Cancel</a>
		</div>
	</div>
</main>
{% endblock %}
