{% extends "layout.html" %}
{% block page_title %}
Enter GPG data
{% endblock %}
{% block body_classes %}
add-data
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<h1 class="heading-xlarge">
		Enter your GPG data for March 2017
	</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="text">
				<p class="lede">Please enter your Gender pay gap data for the period of March 2016 to March 2017:</p>
			</div>
			<form method="get" name="registration" action="/signup" id="registration">
				<h2 class="heading-medium">1. Difference in mean hourly rate of pay  </h2>
				<fieldset>
					<div class="form-group ">
						<label class="form-label" for="email">
							Mean hourly rate
						</label>
						<input type="email" name="email" id="email" class="form-control" >
						<p>	<p/>
							<label class="form-label" for="textarea-a">
								Add more information (optional)
							</label>
							<textarea class="form-control" id="textarea-a" cols="30" rows="5"></textarea>
						</div>
					</fieldset>
					<h2 class="heading-medium">2. Difference in median hourly rate of pay </h2>
					<fieldset>				
						<div class="form-group ">
							<label class="form-label" for="password">
								Median hourly rate
							</label>
							<input type="password" name="password" id="password" class="form-control">
							<p>	<p/>
								<label class="form-label" for="textarea-a">
									Add more information (optional)
								</label>
								<textarea class="form-control" id="textarea-a" cols="30" rows="5"></textarea>
							</div>
						</fieldset>
						<h2 class="heading-medium">3. Difference in mean bonus pay  </h2>
						<fieldset>				
							<div class="form-group ">
								<label class="form-label" for="password">
									Mean bonus pay
								</label>
								<input type="password" name="password" id="password" class="form-control">
								<p>	<p/>
									<label class="form-label" for="textarea-a">
										Add more information (optional)
									</label>
									<textarea class="form-control" id="textarea-a" cols="30" rows="5"></textarea>
								</div>
							</fieldset>	
							<h2 class="heading-medium">4. Difference in median bonus pay</h2>
							<fieldset>				
								<div class="form-group ">
									<label class="form-label" for="password">
										Median bonus pay 
									</label>
									<input type="password" name="password" id="password" class="form-control">
									<p>	<p/>
										<label class="form-label" for="textarea-a">
											Add more information (optional)
										</label>
										<textarea class="form-control" id="textarea-a" cols="30" rows="5"></textarea>
									</div>
								</fieldset>				
								<h2 class="heading-medium">5. Proportion of male and female employees who received bonus pay</h2>
								<fieldset>				
									<div class="form-group ">
										<label class="form-label" for="password">
											Male median bonus pay paid
										</label>
										<input type="password" name="password" id="password" class="form-control">
									</div>
									<div class="form-group ">
										<label class="form-label" for="password">
											Female median bonus pay paid
										</label>
										<input type="password" name="password" id="password" class="form-control">
										<p>	<p/>
											<label class="form-label" for="textarea-a">
												Add more information (optional)
											</label>
											<textarea class="form-control" id="textarea-a" cols="30" rows="5"></textarea>
										</div>
									</fieldset>		
									<h2 class="heading-medium">6. Proportions employees in the lower, lower middle, upper middle and upper quartile pay bands </h2>
									<h3 class="heading-small">Lower payband</h3>
									<fieldset>				
										<div class="form-group ">
											<label class="form-label" for="password">
												Male
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
										<div class="form-group ">
											<label class="form-label" for="password">
												Female
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
									</fieldset>	
									<h3 class="heading-small">Middle payband</h3>	
									<fieldset>				
										<div class="form-group ">
											<label class="form-label" for="password">
												Male
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
										<div class="form-group ">
											<label class="form-label" for="password">
												Female
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
									</fieldset>	
									<h3 class="heading-small">Upper middle payband</h3>	
									<fieldset>				
										<div class="form-group ">
											<label class="form-label" for="password">
												Male
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
										<div class="form-group ">
											<label class="form-label" for="password">
												Female
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
									</fieldset>		
									<h3 class="heading-small">Upper quartile payband</h3>	
									<fieldset>				
										<div class="form-group ">
											<label class="form-label" for="password">
												Male
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
										<div class="form-group ">
											<label class="form-label" for="password">
												Female
											</label>
											<input type="password" name="password" id="password" class="form-control">
										</div>
										<p>	<p/>
											<label class="form-label" for="textarea-a">
												Add more information (optional)
											</label>
											<textarea class="form-control" id="textarea-a" cols="30" rows="5"></textarea>
										</fieldset>		
									</form><p></p>
									<p><a class="button" href="summary-preview" role="button">Continue</a></p>
									<a href="gpg-overview">Cancel</a>
								</div>
								<div class="column-one-third">
									<aside class="related" id="related">
										<div class="inner group related-subsection">
											<h2 id="parent-subsection">Prisons and probation</h2>
											<nav role="navigation" aria-labelledby="parent-subsection">
												<ul>
													<li>
														<a href="/getting-parole">Getting parole</a>
													</li>
													<li>
														<a href="/leaving-prison">Leaving prison</a>
													</li>
													<li>
														<a href="/guide-to-probation">Probation</a>
													</li>
													<li class="related-topic"><a href="/browse/justice/prisons-probation">More <span class="visuallyhidden">in Prisons and probation</span></a></li>
												</ul>
											</nav>
										</div>
										<div class="inner group related-section">
											<h2 id="parent-section">Crime, justice and the law</h2>
											<nav role="navigation" aria-labelledby="parent-section">
												<ul>
													<li>
														<a href="/how-sentences-are-worked-out">How sentences are worked out</a>
													</li>
													<li>
														<a href="/charged-crime">Being charged with a crime</a>
													</li>
													<li class="related-topic"><a href="/browse/justice">More <span class="visuallyhidden">in Crime, justice and the law</span></a></li>
												</ul>
											</nav>
										</div>
										<div class="inner group">
											<a class="return-to-top" href="#content">Return to top ↑</a>
										</div>
									</aside>
								</div>
							</div>
						</main>
						{% endblock %}
