{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've submitted your 2017 GPG data</h1>

      </div>
          <div class="column-two-thirds">

      <p>We have sent you a confirmation email.</p>

      <p>You can view or amend this submission anytime before the 23 March 2017 deadline.</p>
      <p><a href="gpg-overview">Back to your GPG overview</a></p>


    </div>
  </div>

</main>

{% endblock %}
