{% extends "layout.html" %}
{% block page_title %}
  Confirmation page example
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
  <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">You've submitted your 2016 to 2016 GPG data</h1>
      </div>
      <p>We have sent you a confirmation email.</p>
      <p>You can view or amend this submission anytime before the 4 April 2017 deadline.</p>
      <p><a href="gpg-overview">Back to your GPG overview</a></p>
  </div>
  </div>
</main>
{% endblock %}
