{% extends "layout.html" %}
{% block page_title %}
Enter GPG data
{% endblock %}
{{ navlinks }}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<h1 class="heading-xlarge">
		Your GPG overview 
	</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="text">
				<p class="lede">On this page can:</p>
				<ul class="list list-bullet">
					<li>Submit your GPG data</li>
					<li>Amend any pre-dealine GPG submissions 
					</li>
					<li>View GPG data from previous years 
					</li>
				</ul>    
			</div>
		</div>
		<div class="column-one-third">
			<div class="panel-cta tablet-and-up" style=''>
				<p class="heading-medium panel-body flush--top">Enter your GPG data for 2017/2018 period</p>
				<p class="panel-button flush--bottom">
					<a id="create-new-lpa" class="button" href="add-data" role="button">Start now</a>
				</p> 
			</div>
		</div>
	</div>	
	<div class="grid-row">
		<div class="column-full">		
			<h2 class="heading-large type-heading">
			 Previous GPG submissions
		</h2>
		<table>
			<thead>
				<tr>
					<th scope="col">GPG year</th>
					<th  scope="col" style="white-space: nowrap;">Submitted on</th>
					<th  scope="col">Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2016 to 2017</td>
					<td >2 Febuary 2017 </td>
					<td ><a href="summary-preview"> View</a> &nbsp; or &nbsp; <a href="add-data"> Edit</a></td>
				</tr>
				<tr>
					<td>2015 to 2016</td>
					<td >31 January 2016 </td>
					<td ><a href="#"> View</a></td>
				</tr>				
			</tbody>
		</table>
	</div>
</div>
</main>
{% endblock %}
