{% extends "layout.html" %}
{% block page_title %}
Enter GPG data
{% endblock %}
{{ navlinks }}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<h1 class="heading-xlarge">
		Your GPG data 
	</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="text">
				<p class="lede">On this page you'll find all the GPG data that you've submitted. As well as being able to submit a new GPGs, you can:</p>
				<ul class="list list-bullet">
					<li>Amend your GPG data</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					</li>
				</ul>    
			</div>
		</div>
		<div class="column-one-third">
			<div class="panel-cta tablet-and-up" style=''>
				<p class="heading-medium panel-body flush--top">Enter your GPG data for 2017/2018</p>
				<p class="panel-button flush--bottom">
					<a id="create-new-lpa" class="button" href="add-data" role="button">Start now</a>
				</p> 
			</div>
		</div>
	</div>	
	<div class="grid-row">
		<div class="column-full">		
			<h2 class="heading-large type-heading">
			Historic submissions
		</h2>
		<table>
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th class="numeric" scope="col">Gap 1</th>
					<th class="numeric" scope="col">Gap 2</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>25 March 2015 to 25 March 2016</td>
					<td class="numeric">45%</td>
					<td class="numeric">26%</td>
				</tr>
				<tr>
					<td>25 March 2014 to 25 March 2015</td>
					<td class="numeric">35%</td>
					<td class="numeric">40%</td>
				</tr>
				<tr>
					<td>25 March 2013 to 25 March 2014</td>
					<td class="numeric">55%</td>
					<td class="numeric">55%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</main>
{% endblock %}
