{% extends "layout.html" %}
{% block page_title %}
Login
{% endblock %}
{% block proposition_header %}
  {% include "includes/propositional_navigation_logged_out.html" %}
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Sign in
			</h1>
			<p>Sign in or <a href="registration	">create an account</a> to get started.</p>
			<form method="get" name="login" action="/gpg-overview" id="login">
				<fieldset>
					<legend class="visuallyhidden">Sign in</legend>
					<div class="form-group ">
						<label class="form-label" for="email">
							Email address
						</label>
						<input type="email" name="email" id="email" class="form-control" >
					</div>
					<div class="form-group ">
						<label class="form-label" for="password_current">
							Password
						</label>
						<input type="password" name="password" id="password_current" class="form-control" value="" autocomplete="off">
					</div>
					<div class="form-group">
						<input type="submit" name="submit" id="signin-form-submit" value="Sign in" class="button">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</main>
{% endblock %}
