{% extends "layout.html" %}
{% block page_title %}
Enter GPG data
{% endblock %}
{% block body_classes %}
add-data
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<h1 class="heading-large">
		Please review your GPG data before submitting
	</h1>
	<table class="gpg-data">
		<thead>
			<tr>
				<th class="question" >
					<h2 class="heading-medium">
						Gender pay gap for KPMG Bristol
					</h2>
				</th >
				<th class="answer" >
				</th>
				<th class="other" >
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					1. Difference in mean hourly rate of pay
				</td>
				<td>
					30%
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					2. Difference in median hourly rate of pay
				</td>
				<td>
					75%
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					3. Difference in mean bonus pay
				</td>
				<td>
					50%
				</td>
				<td></td>
			</tr>
			<tr class="row">
				<td>
					4. Difference in median bonus pay
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr >
				<td class="indent">
					Male<br>
					Female
				</td>
				<td>
					50%<br>
					50%
				</td>
				<td></td>
			</tr>			
<!-- 			<tr>
				<td colspan="3">
					D. Difference in median bonus pay<br>
					<table>
						<tr class="row">
							<td>Male</td>
							<td>50%</td>
							<td ></td>
						</tr>
						<tr class="row">
							<td>Female</td>
							<td>50%</td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>	 -->		
			<tr class="row">
				<td>
					5. Proportion of male and female employees who received bonus pay
				</td>
				<td></td><td></td>

			</tr>
			<tr class="row">
				<td class="indent">
					Lower payband<br>
					Male<br>
					Female
				</td>
				<td>
					<br>
					50%<br>
					50%
				</td>
				<td></td>
			</tr>
			<tr class="row">
				<td class="indent">
					Middle payband<br>
					Male<br>
					Female
				</td>
				<td>
					<br>
					50%<br>
					50%
				</td>
				<td></td>
			</tr>			
			<tr class="row">
				<td class="indent">
					Upper middle payband<br>
					Male<br>
					Female
				</td>
				<td>
					<br>
					50%<br>
					50%
				</td>
				<td></td>
			</tr>	
			<tr>
				<td class="indent">
					Upper quartile payband<br>
					Male<br>
					Female
				</td>
				<td>
					<br>
					50%<br>
					50%
				</td>
				<td></td>
			</tr>				
		</tbody>
	</table>
	<h2 class="heading-medium">Now send your application</h2>
	<p class="text">
		By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
	</p>
	<div class="form-group">
		<p><a href="confirmation-page" class="button">Accept and submit application</a></p>
		<a href="gpg-overview">Cancel</a>
	</div>
</main>
{% endblock %}
