{% extends "layout.html" %}
{% block page_title %}
Enter GPG data
{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<h1 class="heading-large">
		Please review your GPG data before submitting
	</h1>
		<div class="column-two-thirds">
	<table class="gpg-data">
		<thead>
			<tr>
				<th class="question" >
				Your 2017 Gender Pay Gap data
				</th >
				<th class="answer" >
				</th>
				<th class="other" >
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					1. Difference in mean hourly rate of pay
				</td>
				<td>
					30%
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					2. Difference in median hourly rate of pay
				</td>
				<td>
					75%
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					3. Difference in mean bonus pay
				</td>
				<td>
					50%
				</td>
				<td></td>
			</tr>
			<tr >
				<td>
					4. Difference in median bonus pay
				</td>
				<td>
					50%
				</td>
				<td></td>
				</tr>
				<tr >
					<td>
						5. Proportion of male and female employees who received bonus pay
					</td>
					<td>Male <br>50%</td>
					<td>Female <br>50%</td>
				</tr>
				<tr class="row">
					<td>
						6. Proportions employees in the quartile pay bands
					</td>
					<td>Male </td>
					<td>Female</td>
				</tr>				
				<tr class="row">
					<td>
						Lower payband
					</td>
					<td>
						50%
					</td>
					<td>
						50%</td>
					</tr>
					<tr class="row">
						<td>
							Middle payband
						</td>
						<td>
							50%
						</td>
						<td>
							50%</td>
						</tr>
						<tr class="row">
							<td>
								Upper middle payband
							</td>
							<td>
								50%
							</td>
							<td>
								50%</td>
							</tr>
							<tr >
								<td>
									Upper quartile payband
								</td>
								<td>
									50%
								</td>
								<td>
									50%</td>
								</tr>
								<tr >
								<td colspan="3">
									<p>7. Additional information</p>
									Our figures are in line with the figures for all UK employees, which the consultation document notes is around 80% of male average pay. We are working to understand the factors behind this figure and the how this gender gap can be addressed.
								</td>
					
								</tr>							
							</tbody>
						</table>
						<h2 class="heading-medium">Confirm your details</h2>

						<form method="get" name="registration" action="/signup" id="registration">
						
							<fieldset>
								<div class="form-group ">
									<label class="form-label" for="email">
										Enter your name
									</label>
									<input type="email" name="email" id="email" class="form-control" >
								</div>
								<div class="form-group ">
									<label class="form-label" for="email_confirm">
										Enter your email address
									</label>
									<input type="email" name="email" id="email" class="form-control" >
								</div>
							</fieldset>

						</fieldset>
					</form>
				
						<div class="notice">
						<p>
							<i class="icon icon-important">
								<span class="visually-hidden">Warning</span>
							</i>
							<strong class="bold-small">
								By submitting this data you are confirming that, to the best of your knowledge, the details you are providing are correct
							</strong>
							</p>	
					



						<div class="form-group">
							<p><a href="confirmation-page" class="button">Confirm and submit GPG data</a></p>
							<a href="gpg-overview">Cancel</a>
						</div>
					</div>	</div>
				</main>
				{% endblock %}
